@* import the Lesson Model which also has a nested Module Model *@
@model IEnumerable<wealthKernelApp.Models.Lesson>

@{
  ViewData["Title"] = "Lessons";
}
  <h1>LESSONS</h1>
   @foreach (var lesson in Model) {
    <ul>
      <li>  
         <h3>
           @* pass in the link text, controller action to trigger and any optional data *@
           <a class="nav-link">@Html.ActionLink(@lesson.Title, "Lesson", new {@slug=@lesson.Slug})</a>
           </h3>
      </li>
    </ul>
}

