@* import the LessonModel which also has a nested Module Model *@
@model IEnumerable<wealthKernelApp.Models.Lesson>

@{
  ViewData["Title"] = "Lessons";
}

<div class="container-fluid">
  <h1>LESSONS</h1>
   @foreach (var lesson in Model) {

    <h3>@lesson.Title</h3>
    @* <h4>@lesson.Slug</h4> *@
    <ul>
      @foreach (var module in lesson.Modules) {
          <li>
            <b>@module.Title</b>
            <p>@module.Copy</p>
         </li>
      }
    </ul>
}
</div>
